* {
  margin: 0;
  padding: 0;
}
body {
  background: #080048;
}
h1 {
  font-size: 4em;
  font-weight: 600;
  color: #ffffff;
}
h2 {
  font-size: 2em;
  font-weight: 800;
  color: #ffffff;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #ffffff;
}
p {
  font-size: 19px;
  color: #ffffff;
}
b {
  font-size: 16px;
  color: #ffffff;
}
section {
  margin-top: 7rem;
  margin-bottom: 8rem;
}
.card {
  background-color: transparent;
}
.section-background {
  background: #22174b;
  padding: 40px;
  width: 100%;
}
.playground {
  background-color: #22174b;
  width: 80%;
  border-radius: 20px;
  padding-top: 50px;
}
.video-courses {
  background-color: #22174b;
  width: 70%;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.purchase-container {
  background-color: #22174b;
  width: 70%;
  border-radius: 20px;
  padding-top: 50px;
}
.social-container {
  background-color: #22174b;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
}

.top-banner {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  text-align: center;
  background-image: url("./Asset/images/MobileBG.png");
}
.planet-background {
  height: 1700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./Asset/BackgroundImage/PlanetBG.png");
}

.rocket-background {
  height: 1700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./Asset/BackgroundImage/PlanetBG.png");
}

.card-image {
  width: 280px;
}
.name-highlight {
  color: #fa8c4c;
}

.product-container {
  max-width: 90%;
  margin: 5em;
  padding: 5em;
}

.my-button {
  background-color: #4289ff;
  font-size: 15px;
  padding: 10px;
  color: white;
}
.my-button2 {
  background-color: #ffffff;
  font-size: 15px;
  padding: 10px;
  color: black;
}

/*------ carousel style------*/
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
/*------ carousel style------*/

@media screen and (max-width: 600px) {
  /* body {
    background-color: olive;
  }
  div {
    border: 1px solid red;
  } */
  h1 {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
  }
  h3 {
    font-size: 1em;
    font-weight: 200;
    color: #ffffff;
  }
  p {
    font-size: 9px;
    color: #ffffff;
  }
  b {
    font-size: 11px;
    color: #ffffff;
  }
  section {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .planet-background {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Asset/BackgroundImage/PlanetBG.png");
  }
  .video-courses {
    padding-top: 10%;
    background-color: #22174b;
    width: 100%;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
